$color_primary: #ffffff;
$color_secondary: #005d6d;
$color_accent: #6aacb3;

$shadow_border: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
  rgb(209, 213, 219) 0px 0px 0px 1px inset;
$shadow_card: rgba(9, 30, 66, 0.25) 0px 1px 1px,
  rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
$shadow_bottom: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

$box_shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
