// ------------variables---------------
$margin_extra_large: clamp(1.5rem, 5vw, 3rem);
$margin_large: clamp(1rem, 4vw, 2rem);
$margin_medium: clamp(0.5rem, 2.5vw, 1rem);
$margin_small: clamp(0.25rem, 1.5vw, 0.5rem);

$margin_hr_extra_large: 0 clamp(1.5rem, 5vw, 3rem) 0 clamp(1.5rem, 5vw, 3rem);
$margin_hr_large: 0 clamp(1rem, 4vw, 2rem) 0 clamp(1rem, 4vw, 2rem);
$margin_hr_medium: 0 clamp(0.75rem, 2.5vw, 1.5rem) 0
  clamp(0.75rem, 2.5vw, 1.5rem);
$margin_hr_small: 0 clamp(0.25rem, 1.5vw, 0.5rem) 0
  clamp(0.25rem, 1.5vw, 0.5rem);

$padding_extra_large: clamp(1.5rem, 5vw, 3rem);
$padding_large: clamp(1rem, 4vw, 2rem);
$padding_medium: clamp(0.5rem, 2.5vw, 1rem);
$padding_small: clamp(0.25rem, 1.5vw, 0.5rem);
$padding_extra_small: clamp(0.125rem, 0.75vw, 0.25rem);

$fontSize_extra_large: clamp(1.5rem, 5vw, 2.75rem);
$fontSize_large: clamp(1.25rem, 4vw, 1.875rem);
$fontSize_medium: clamp(1.125rem, 3vw, 1.25rem);
$fontSize_normal: clamp(1rem, 2.5vw, 1.125rem);
$fontSize_small: clamp(0.875rem, 1.5vw, 0.9375rem);
$fontSize_extra_small: clamp(0.625rem, 1.25vw, 0.75rem);
